:global(#root) {
  background-color: #002366;
  color: #ffffff;
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  row-gap: var(--spacing-xl);
}

.hgroup {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-md);
}
.hgroup h1 {
  font-size: var(--font-size-xxl);
}

.hgroup p {
  font-size: var(--font-size-xl);
}

.error {
  font-size: var(--font-size-xxl);
  color: var(--color-error);
  font-style: italic;
}
