.navigation > ul {
  display: flex;
  justify-content: center;
  gap: var(--spacing-md);
  list-style: none;
}

.site-title {
  font-size: var(--font-size-lg);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--spacing-lg) 0;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-md);
}

.footer {
  align-self: flex-end;
}

.footer p {
  margin: var(--spacing-md);
}
